@import "variables";

// @media all and (min-width:1620px) {
//   html {
//    font-size:112.5%
//   }
// }
// @media screen and (min-width:1200px) and (max-width:1619px){
//   html {
//    font-size:90%
//   }
// }

.container {
  max-width: inherit;
  transition: all 0.7s ease;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 90%;
  }
}
.display-large {
  font-size: 3.5625rem; // 57px
}
h1 {
  font-size: 2.8125rem; // 45px
  font-family: $IBM-plex-serif-font;
}
h2 {
  font-size: 2.25rem; // 36px
  font-family: $IBM-plex-serif-font;
}
h3 {
  font-size: 2rem; // 32px
}
h4 {
  font-size: 1.75rem; // 28px
}
h5 {
  font-size: 1.5rem; // 24px
}
h6 {
  font-size: 1.375rem; // 22px
}
.body-large,
.font-size-lg {
  font-size: 1.125rem; // 18px
}
.body-medium,
.font-size-md {
  font-size: 1rem; // 16px
}
.body-small,
.font-size-sm {
  font-size: 0.875rem; // 14px
}
.body-extrasmall,
.font-size-xsm {
  font-size: 0.75rem; // 12px
}
.font11 {
  font-size: 11px;
}
a {
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
}

body {
  font-family: $IBM-plex-sans-font;
  background: #f6f6f6;
  color: $grey-1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding-top: 74px;
}
.text-primary {
  color: $primary-color !important;
}
.text-danger,
.errorMssg {
  color: $danger-text !important;
}

.text-unbreak {
  white-space: nowrap;
}

.card {
  border: 1px solid #ddebe1;
  border-radius: 16px;
  padding: 24px !important;
  margin-bottom: 16px;
  box-shadow: none !important;
  overflow: hidden;
}

//Buttons
.buttonCommonProperties {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-decoration: none;
}
.completeProfileButton {
  min-width: 150px !important;
}

@media screen and (max-width: 767px) {
  .buttonCommonProperties {
    padding: 6px 15px !important;
    font-size: 0.875rem !important;
    border-radius: 8px !important;
    &.tickIcon,
    &.sendRightIcon {
      gap: 5px !important;
      &:before {
        width: 20px !important;
        height: 24px;
        background-size: 18px !important;
      }
    }
  }
}
.btn-primary {
  background-color: $primary-color;
  color: #fff;
  @extend .buttonCommonProperties;
  padding: 14px 30px;
  border-radius: 16px;
  position: relative;
  border: none;
  &:hover,
  &:focus {
    background-color: $primary-color-hv;
  }
  &:active {
    background-color: $primary-color-hv !important;
  }
  &.tickIcon {
    display: flex;
    gap: 8px;
    &:before {
      background: url(../Images/tick-white.svg) no-repeat;
      background-position: center;
      content: "";
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }
}
.btn-primary-radius {
  @extend .btn-primary;
  padding: 10px 18px;
  border-radius: 100px;
  &.sendRightIcon {
    display: flex;
    gap: 8px;
    &:before {
      background: url(../Images/send-icon-white.svg) no-repeat;
      background-position: center;
      background-size: 22px;
      content: "";
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $primary-color-hv;
    color: #fff;
  }
}
.primaryContainerRadiusBtn {
  background-color: $primary-light;
  color: $primary-dark-text;
  @extend .buttonCommonProperties;
  padding: 10px 18px;
  border-radius: 100px;
  position: relative;
  border: none;
  &:hover,
  &:focus {
    background-color: $primary-light-hv;
    color: $primary-dark-text;
  }
  &:active,
  &.active {
    background-color: $primary-light-hv !important;
    color: $primary-dark-text !important;
  }
  &.tickIcon {
    display: flex;
    gap: 8px;
    &:before {
      background: url(../Images/tick-darkgreen.svg) no-repeat;
      background-position: center;
      content: "";
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }
}
.btn-secondary-radius {
  background: $secondary-light-2;
  border-radius: 100px;
  @extend .buttonCommonProperties;
  padding: 10px 18px;
  color: $grey-1;
  border: 1px solid transparent;
  &:hover,
  &:focus {
    background-color: #fff;
    color: $grey-1;
    border: 1px solid $secondary-light-2;
  }
  &:active {
    background-color: #fff !important;
    color: $grey-1 !important;
    border: 1px solid $secondary-light-2 !important;
  }
}
.btn-secondary-outline {
  border: 1px solid $grey-4;
  background-color: #fbfdf8;
  border-radius: 100px;
  @extend .buttonCommonProperties;
  padding: 8px 16px;
  color: $grey-1;
  &:hover,
  &:focus {
    background-color: #f8f8f8;
    border: 1px solid $grey-4;
    color: $black;
  }
  &.addIcon {
    display: flex;
    gap: 6px;
    &:before {
      background: url(../Images/plus-grey.svg) no-repeat;
      background-position: center;
      background-size: 20px;
      content: "";
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }
  &.backIcon {
    display: flex;
    gap: 6px;
    &:before {
      background: url(../Images/back-arrow-grey.svg) no-repeat;
      background-position: center;
      background-size: 22px;
      content: "";
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }
  &.sendIcon {
    display: flex;
    gap: 6px;
    &:before {
      background: url(../Images/send-icon-grey.svg) no-repeat;
      background-position: center;
      background-size: 22px;
      content: "";
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }
}
.btn-skip {
  border: 0;
  background-color: white;
  text-align: center;
  background-position: center;
  height: 48px;
  min-width: 70px;
  background-size: 26px;
}
.btn-secondary-cancel-icon {
  border: 1px solid $grey-4;
  border-radius: 100px;
  background: #fbfdf8 url(../Images/close-icon.svg) no-repeat;
  font-size: 0;
  background-position: center;
  height: 48px;
  min-width: 70px;
  background-size: 26px;
  padding: 0;
  display: inline-block;
  &:hover,
  &:focus {
    background-color: #f8f8f8;
    border: 1px solid $grey-4;
  }
}
.btnlinkPrimary {
  color: $primary-color;
  @extend .buttonCommonProperties;
  &.mark-read-btn {
    display: flex;
    gap: 6px;
    align-items: center;
    &:before {
      background: url(../Images/check-circle-green.svg) no-repeat;
      background-position: center;
      background-size: 20px;
      content: "";
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }
}
.btnlinkSecondary {
  @extend .buttonCommonProperties;
  color: #aaaca8;
  padding: 4px 0;
  &:hover,
  &:focus {
    color: $grey-1;
  }
}
.customCircleCheckBox {
  position: relative;
  .form-check-input {
    border-radius: 100%;
    background-color: #d1e9d5;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    min-width: 24px;
    min-height: 24px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    &:checked[type="checkbox"] {
      background-image: url(../Images/green-check-bold.svg);
      background-size: 16px;
      background-color: $primary-light;
      border: none;
      box-shadow: none;
    }
  }
}
.iconButton {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 18px !important;
  width: 34px;
  height: 34px;
  display: inline-block;
  padding: 0;
  font-size: 0;
  border-radius: 100px;
}

.editIconBtn {
  background-image: url("../Images/pencil-green.svg");
  background-color: #006d3d21;
  @extend .iconButton;
}
.deleteIconBtn {
  background-image: url("../Images/delete-red.svg");
  background-color: #ffdad4a3;
  @extend .iconButton;
}
.deleteIconText {
  color: $danger-text;
  font-weight: 900;
  margin-left: 10px;
  font-size: 14px;
}

.tickIconBtn {
  background-image: url("../Images/tick-white.svg");
  background-color: $primary-color;
  border: 1px solid #707971;

  @extend .iconButton;
}
.closeIconBtn {
  background-image: url("../Images/close-icon.svg");
  background-color: #fbfdf8;
  border: 1px solid #707971;
  @extend .iconButton;
}

.icon-button-link {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 18px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding-left: 24px;
  background-color: transparent;
  border: none;
  &:focus,
  &:hover {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
  }
}
.edit-btn-link {
  background-image: url("../Images/pencil-green.svg");
  color: $primary-color;
  @extend .icon-button-link;
}
.write-feedback-link {
  background-image: url("../Images/send-icon-green.svg");
  color: $primary-color;
  @extend .icon-button-link;
}
.delete-btn-link {
  background-image: url("../Images/delete-red.svg");
  color: $danger-text;
  @extend .icon-button-link;
}

.cardActions {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  .btnIconLeft {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.buttonActionGroup {
  padding-top: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.wrapper {
  padding: 24px 0;
}

.whoopForm {
  .formInnerSec {
    max-width: 600px;
  }
  .mb-3 {
    margin-bottom: 1.5rem !important;
  }
  .form-label {
    @extend .font-size-sm;
    color: $primary-dark-text;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
  .form-control,
  .form-select {
    border-radius: 8px;
    border: 1px solid $grey-4;
    background-color: #fff;

    &::-webkit-input-placeholder {
      color: $grey-6;
    }
    &:-moz-placeholder {
      color: $grey-6;
      opacity: 1;
    }
    &::-moz-placeholder {
      color: $grey-6;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: $grey-6;
    }
    &::-ms-input-placeholder {
      color: $grey-6;
    }
    &::placeholder {
      color: $grey-6;
    }
  }
  textarea {
    height: 120px;
  }
  .formBtnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }

  .customMultiselectBox {
    .css-13cymwt-control {
      border-radius: 8px;
      border: 1px solid $grey-4;
      background-color: #fff;
    }
    input {
      min-height: 36px;
    }
    svg {
      fill: #414942;
    }
    .indicatorSeparator {
      display: none;
    }
    .react-select-2-placeholder {
      color: $grey-6;
    }
  }
  .selected-options {
    padding: 10px 0 3px 0;
    margin: 0;
    &:empty {
      display: none;
    }
    .selected-option {
      padding: 4px 8px 4px 10px;
      border-radius: 8px;
      background: $light-blue;
      display: inline-block;
      margin-right: 8px;
      position: relative;
      label {
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.5px;
        color: $darker-blue;
        float: left;
      }
      button {
        background: url(../Images/selected-remove-icon.svg) no-repeat;
        background-size: 12px;
        float: right;
        width: 14px;
        height: 14px;
        border: none;
        background-color: transparent;
        border-left: 1px solid rgba(0, 31, 39, 0.16);
        background-repeat: no-repeat;
        background-position: center right;
        margin-left: 10px;
        padding-left: 18px;
        margin-top: 1px;
      }
    }
  }
  .form-switch {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    .form-check-label {
      @extend .form-label;
      padding-top: 2px;
    }
    .form-check-input {
      cursor: pointer;
      width: 40px;
      height: 24px;
      min-height: inherit;
      border-radius: 16px;
      border: 1px solid rgba(0, 33, 14, 0.16);
      background: $secondary-light-1 url(../Images/switch-circle-grey.svg) no-repeat;
      background-position: center left 2px;
      &:checked {
        border: 1px solid rgba(0, 33, 14, 0.16);
        background: $primary-light url(../Images/switch-circle-green.svg) no-repeat;
        background-position: center right 2px;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .rangeSliderSec {
    .range-slider__wrap {
      z-index: 9;
    }
    .stepsInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $secondary-color;
      position: relative;
      z-index: 2;
      span {
        position: relative;
        &:before {
          background: rgba(112, 121, 113, 0.1);
          width: 2px;
          height: 16px;
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 10px 0 auto;
          top: -27px;
        }
        &:first-child {
          margin-left: -5px;
          &:before {
            margin-left: 7px;
          }
        }
        &:last-child {
          margin-right: -5px;
          &:before {
            margin-right: 7px;
          }
        }
      }
    }
  }
}

.uploadFileBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  overflow: hidden;
  top: 0;
  right: -12px;
  label {
    margin: 0;
    width: 26px;
    height: 26px;
    display: inline-block;
    background: $primary-light url(../Images/edit-icon-white.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    opacity: 0.7;
  }

  .uploadFile {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    width: 30px;
    padding: 0;
  }
}

// Whoop Custom Tab
.whoopCustomTab {
  .nav-pills {
    border-bottom: 1px solid $grey-4;
    background: #fff;
    .nav-item {
      .nav-link {
        padding: 16px 30px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: $grey-1;
        border-radius: 0;
        &.active {
          background-color: transparent;
          position: relative;
          &:after {
            background: $primary-light;
            height: 6px;
            content: "";
            display: inline-block;
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
          }
        }
      }
    }
  }
}
.filterSec {
  padding: 25px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .filterAction {
    display: flex;
    gap: 8px;
    align-items: center;
    border-right: 1px solid rgba(25, 28, 26, 0.1);
    padding-right: 15px;
    width: calc(100% - 105px);
  }
  select {
    font-weight: 600;
  }
  .filterSelectBox {
    border-radius: 100px;
    background-color: $secondary-light-2;
    padding: 6px 32px 6px 15px;
    @extend .font-size-md;
    letter-spacing: 0.1px;
    color: $grey-1;
    border-color: transparent;
    min-height: 38px;
    &:focus {
      box-shadow: none;
      border: 1px solid $grey-4;
    }
  }
}

// Create Opportunity
.CreateOpportunityScreen {
  padding-top: 35px;
  .formTopActionSec {
    border-bottom: 1px solid #dbdddb;
    background-color: #fff;
    padding: 15px 0;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    .headerActionGroup {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .opportunityFormSec {
    max-width: 800px;
    margin: 0 auto;
    h1 {
      color: $primary-dark-text;
      font-weight: 400;
      margin-bottom: 0;
    }
    .startEndDate {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.signupScreen {
  padding-top: 35px;

  margin-top: -30px;
  h2,
  .font-size-sm {
    color: $secondary-color;
  }
  .card {
    max-width: 550px;
    margin: 0 auto;
    padding-top: 15px !important;
    padding-bottom: 30px !important;
    .whoopForm .form-control {
      min-height: 46px;
      padding: 6px 15px;
    }
    .btn {
      min-width: 200px;
      margin-top: 10px;
    }
  }
}

.loginScreen {
  padding: 0;
  margin-top: -30px;
  .card {
    max-width: 430px;
    margin: 0 auto;
    padding-top: 15px !important;
    padding-bottom: 30px !important;
    .whoopForm .form-control {
      min-height: 46px;
      padding: 6px 15px;
    }
  }
  h2,
  .font-size-sm {
    color: $secondary-color;
  }
  .forgotPassword {
    margin-top: 12px;
    a {
      background: url(../Images/lock-icon-green.svg) no-repeat;
      color: $primary-color;
      background-position: center left;
      font-weight: 600;
      padding-left: 24px;
      font-size: 14px;
      background-size: 17px;
    }
  }
  .btn-secondary-outline {
    padding: 12px 20px;
    border-radius: 16px;
  }
  .passwordInfo {
    @extend .font-size-xsm;
    color: $grey-5;
    font-style: italic;
    letter-spacing: 0;
    line-height: 18px;
  }
}
.formBtmInfo {
  margin-bottom: 0;
  text-align: center;
  padding: 15px 15px 20px 15px;
  font-weight: 500;
  color: #3b6470;
  a {
    color: $primary-color;
    font-weight: 600;
  }
}

.react-confirm-alert-body > h1 {
  font-size: 35px;
}

.notificationsScreen {
}
.allNotificationSec {
  max-width: 800px;
  margin: 0 auto;
  .notificationTitleSec {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 25px;
    h2 {
      margin: 0;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      &:hover {
        background: #f9f9f9;
      }
      margin-top: 15px;
      border: 1px solid #ddebe1;
      padding: 12px 15px;
      display: flex;
      align-items: flex-start;
      gap: 10px;
      cursor: pointer;
      border-radius: 5px;
      background: #fff;
      .userPicSec {
        position: relative;
        min-width: 36px;
        img {
          width: 36px;
          height: 36px;
          border-radius: 100%;
        }
      }
      .userDataSec {
        width: calc(100% - 45px);
        h6 {
          font-weight: 500;
          @extend .font-size-md;
          line-height: 20px;
          color: $grey-2;
          margin-bottom: 8px;
        }
        .dateTime {
          font-weight: 500;
          @extend .font-size-xsm;
          line-height: 18px;
          color: $grey-6;
          display: block;
        }
      }
      &.unreadMsg {
        position: relative;
        &:before {
          content: "";
          background-color: $primary-color-hv;
          height: 10px;
          width: 10px;
          border-radius: 100px;
          display: inline-block;
          position: absolute;
          top: 7px;
          left: 7px;
          z-index: 9;
        }
      }
    }
  }
}

.truncate-lines {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.manager-divider {
  background: #dadbda5b;
  margin: 30px 0;
  opacity: 0.1;
}
